<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <a href="/Home/Index">Home</a>
    <a href="/Person/Index">Person</a>
    <a href="/Product/Index">Product</a>
    <h3>Product Controller - Index Action</h3>
</body>
</html>